@import "../../style.scss";

.container{

    padding-bottom: 30px;
    @include themify($themes){

        -webkit-box-shadow: 10px 10px 5px 0px rgba(230, 218, 230, 1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(230, 218, 230, 1);
        box-shadow: 10px 10px 5px 0px themed("shadow");
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");

        

        .map{
            display:flex;
            flex-direction: column;
            gap: 100px;

            display: flex;
            align-items: center;
            justify-content: space-between;


            .boxWhite{
                //     <Box
                //     p={4}
                //     borderRadius='lg'
                //     m={4}
                //     bgColor='white'
                //     shadow='base'
                //     minW='container.md'
                //     zIndex='1'
                //   >
    
                padding: 4;
                border-radius: lg;
                margin: 4;
                background-color: white;
                min-width: 100px;
                z-index: 1;
                }
    
            
            .box{
                // position='absolute' left={0} top={0} h='100%' w='100%'
                // position: absolute;
                // left: 0;
                // top: 0;
                // height: 100%;
                // width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;



            }

        
        }


    }
}