@import "../../style.scss";

.rightbar{
    @include themify($themes){
        // flex:3;
        flex:5;

        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed("bgSoft");


        //esto quita la barra a la derecha para scrollear
        &::-webkit-scrollbar{
            display: none;
        }

        .container{
            padding: 20px;
            .item{
                -webkit-box-shadow: 10px 10px 5px 0px rgba(230,218,230,1);
                -moz-box-shadow: 10px 10px 5px 0px rgba(230,218,230,1);
                // box-shadow: 10px 10px 5px 0px rgba(230,218,230,1);
                box-shadow: 10px 10px 5px 0px themed("shadow");

                padding: 20px;
                margin-bottom: 20px;
                background-color: themed("bg");

                span{
                    color: themed("textColor");

                }
                .user{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0px;

                    .userInfo{
                        display: flex;
                        align-items: center;
                        gap: 20px; 
                        //si usamos position absolute el padre tiene que ser relative
                        position: relative;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        .online{
                            width:12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: limegreen;
                            position:absolute;
                            top:0;
                            left:30px;
                        }

                        p{
                            color: themed("textColorSoft");
                        }

                        span{
                            font-weight: 500;
                            color: themed("textColor");

                        }
                    }

                    .buttons{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button{
                            border:none;
                            padding: 5px;
                            color: white;
                            cursor: pointer;
                            font-size:13px;

                            // si no usara bootstrap podria usar esto para darle a cada boton un
                            // color distinto
                            &:first-child{
                                background-color: blue;
                            }

                            &:last-child{
                                background-color: red;
                            }
                        }
        
                    }
                }
            
            }
        }

    }
}